<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem action="ir_action_protected_action"
        id="menu_ir_action_protected"
        parent="base.menu_security"
        name="Protected Actions"
        sequence="15"/>

    <menuitem action="ir_action_access_action"
        id="menu_ir_action_access"
        parent="base.menu_security"
        name="Actions Access Rules"
        sequence="16"/>

    <menuitem action="ir_action_access_filter_action"
        id="menu_ir_action_access_filter"
        parent="base.menu_security"
        name="Actions Access Filters"
        sequence="17"/>

</odoo>
